:root {
    --primary-color: rgb(192, 222, 0);
    --primary-hover: rgb(154, 178, 0);
    --primary-dark-hover: rgb(117, 135, 0);
    --primary-light-hover: rgb(233, 255, 87);
    --primary-gray: rgb(150, 150, 150);
    --primary-transition: 0.3s;
    --primary-border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}