.synesthesia-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 200px;
}

.synesthesia-title {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.synesthesia-description {
    font-size: 20px;    
    color: rgb(160, 160, 160);
    margin-bottom: 20px;
    width: 800px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.drop-area {
    position: relative;
    height: 100px;
    width: 500px;
    border: 7px dashed gray;
    border-radius: 30px;
    cursor: pointer;
}

.file-input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload-span {
    transform: translate(-50%, -50%);
    color: var(--primary-gray);
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
}

.record-audio {
    width: fit-content;
    padding: 15px 30px;
    background-color: white;
    color: black;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: var(--primary-border-radius);
    transition: background-color var(--primary-transition), border var(--primary-transition);
    outline: none;
}

.selects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.synesthesia-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.synesthesia-select {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    width: 250px;
    border: none;
    border-bottom: 3px solid var(--primary-dark-hover);
    transition: border var(--primary-transition);
    cursor: pointer;
    background: none;
    outline: none;
}

.synesthesia-select:hover {
    border-bottom: 3px solid var(--primary-color);
}

option {
    background-color: black;
    color: var(--primary-color);
}

.result-container { 
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 800px;
    margin-top: 30px;
}

.preview-audio {
    display: none;
    width: 350px;
    margin-top: 20px;   
}

.preview-image {
    display: none;
    width: 350px;
    margin-top: 20px;
    
}

.submit {
    width: fit-content;
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-color);
    transition: background-color var(--primary-transition), border var(--primary-transition);
    border: 2px solid var(--primary-color);
    outline: none;
    margin-top: 20px;
}

.submit:hover {
    background-color: var(--primary-hover);
    border: 2px solid var(--primary-hover);
}

@media only screen and (max-width: 800px) {
    .synesthesia-section, .result-container {
        width: 90%;
    }

    .synesthesia-description {
        width: 80%;
    }

    .prompt-input {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .drop-area {
        width: 90%;
    }

    .selects-container {
        gap: 5px;
    }

    .synesthesia-select {
        width: 150px;
        font-size: 15px;
    }

    .preview {
        width: 100%;
    }

    .synesthesia-title {
        font-size: 30px;
    }

    .synesthesia-description {
        font-size: 18px;
    }

    .synesthesia-btns-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .prompt-input {
        width: 90%;
        font-size: 18px;
    }
}
